.plugin-gridster.horoscopemathilde .front {
  background: #55b5e6 url('images/image.jpg') center 34px;
  background-size:   90px 90px;
  background-repeat: no-repeat;
}
.plugin-gridster.horoscopemathilde .back {
  background: #070000 url('images/image1.jpg') center 34px;
  background-size:   70px 70px;
  background-repeat: no-repeat;
}