.plugin-gridster.freebox .front {
background: #55b5e6 url('images/images01.png') center 34px;
background-size:   85px 75px;
background-repeat: no-repeat;
  
}

.plugin-gridster.freebox .back {
background: #070000 url('images/images02.png') center 34px;
background-size:   110px 75px;
background-repeat: no-repeat; 
}