.plugin-gridster.reveil1 .front {
  background: #55b5e6 url('images/image00.jpg') center 34px;
  background-size:   100px 100px;
  background-repeat: no-repeat;
}
.plugin-gridster.reveil1 .back {
  background: #070000 url('images/image1.png') center 34px;
  background-size:   100px 100px;
  background-repeat: no-repeat;
}